/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font: 18px/1.5 "Ranchers", cursive;
}

h1 {
  font-size: 60px;
  text-align: center;
}

.domecek {
  margin: 50px auto;
  width: 700px;
  height: 400px;
  border: 5px solid black;
  border-radius: 20px;
  background: url(images/stred.png) no-repeat center/cover;

  position: relative;

}
.motyl{
  position: relative;
    left: 170px;
    
     top: 100px;
  
}
.kniha{
  position: relative;
   right:315px;
  bottom: 80px;
}
.spanek{
  position:relative;
   left: 25px;
   top: 240px;
}
.sluchatka{
  position:relative;
  left: 160px;
  bottom: -20px;
}
.dopis{
  position:relative;
  right: 0;
  top:240px;

}